@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes auto-scroll-y {
  0% { transform: translateY(0); }
  45% { transform: translateY(calc(-100% + 400px)); }
  55% { transform: translateY(calc(-100% + 400px)); }
  100% { transform: translateY(0); }
}

.animate-auto-scroll-y {
  animation: auto-scroll-y 20s ease-in-out infinite;
}

.animate-auto-scroll-y:hover {
  animation-play-state: paused;
}
